@font-face {
    font-family: fire;
    src: url(Fire.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;

}

.grid_wrapper {
    height: 100vh;
    border: 0;
    display: grid;
    grid-template-areas:
        "header header header"
        "nav main aside"
        "footer footer footer"
    ;
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 20% 1fr 15%;
}

.grid1 {
    grid-area: header;
    background-color:black;
    align-items: center;
    font-family: fire;
}
.grid2 {
    grid-area: nav;
    background-color:darkred;
    align-items: center;
    padding: 20PX;
    
}
.grid3 {
    grid-area: main;
    background-color:rgb(94, 8, 8);
    display: grid;
    grid-template-areas: 
    "box1" 
    "box2"
    "box3"
    ;
    grid-template-rows: 80px;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 40px;
}
.grid4 {
    grid-area: aside;
    background-color:darkred;
}
.grid5 {
    background-color:black;
    grid-area: footer;
}

.box1 {
    grid-area: box1;
    background-color:rgba(255, 0, 0, 0.705);
    box-shadow: 2px 2px 2px 2px RGBA(0, 0, 0, 100);
}
.box2 {
    grid-area: box2;
    background-color:rgba(255, 0, 0, 0.705);
    box-shadow: 2px 2px 2px 2px RGBA(0, 0, 0, 100);
}
.box3 {
    grid-area: box3;
    background-color:rgba(255, 0, 0, 0.705);
    box-shadow: 2px 2px 2px 2px RGBA(0, 0, 0, 100);
}

.headertext {
    color: wheat;
    text-align: center;
    line-height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large; 

}

.swedbanktext {
    background-color:rgba(255, 0, 0, 0.705);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px RGBA(0, 0, 0, 1000);
}

.jadu {
    background-color:rgba(255, 0, 0, 0.705);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 2px 2px RGBA(0, 0, 0, 1000);
}

.leif {
    border: black;
    border-radius: 2px;
    padding: 3px;
    display: block;
    position: absolute;
    width: 50px;
    right: 250px;
    top: 125px;
    
}


.wrapperhis {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
    "he he he"
    "na ma na"
    "fo fo fo"
    ;
    grid-template-columns: 50px, 1fr, 50px;
    grid-template-rows: 100px, 1fr, 100px;

}

.navhis {
    grid-area: na;
    background-color: darkred;
}

}
.mainhis {
    grid-area: ma;
    background-color: red;
}

.foothis {
    grid-area: fo;
    background-color: black;
}

.headerhis {
    grid-area: he;
    background-color: blue;
}