* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;

}

.grid_wrapper {
    height: 100vh;
    border: 0;
    display: grid;
    grid-template-areas:
        "header header header"
        "nav main aside"
        "footer footer footer"
    ;
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 20% 1fr 15%;
}

.grid1 {
    grid-area: header;
    background-color:black;
    align-items: center;
}
.grid2 {
    grid-area: nav;
    background-color:darkred;
}
.grid3 {
    grid-area: main;
    background-color:rgb(94, 8, 8);
    display: grid;
    grid-template-areas: 
    "box1" 
    "box2"
    "box3"
    ;
    grid-template-rows: 40;
    grid-template-columns: 40px;
    grid-gap: 20px;
}
.grid4 {
    grid-area: aside;
    background-color:darkred;
}
.grid5 {
    background-color:black;
    grid-area: footer;
}

.box1 {
    grid-area: box1;
    background-color: blue;

}
.box2 {
    grid-area: box2;
    background-color: orange;

}
.box3 {
    grid-area: box3;
    background-color: palegoldenrod;

}

.headertext {
    color: wheat;
    text-align: center;
    line-height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large; 

}




.wrapperhis {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
    "he he he"
    "na ma na"
    "fo fo fo"
    ;
    grid-template-columns: 50px, 1fr, 50px;
    grid-template-rows: 100px, 1fr, 100px;

}

.navhis {
    grid-area: na;
    background-color: darkred;

}
.mainhis {
    grid-area: ma;
    background-color: red;
}

.foothis {
    grid-area: fo;
    background-color: black;
}

.headerhis {
    grid-area: he;
    background-color: blue;
}